<h3>Model Parent Approach</h3>


<!--This is where errors appear-->
<div *ngIf='errorList.length > 0' style="background-color:lightCoral">
  <div *ngFor="let error of errorList">{{error.message}}</div>
</div>

<p>
   This approach uses a custom-made method for validations while still using ngModel binding.
</p>
<app-model-child2 (ngModelChange)="model.num1 = $event; KeyUpDetection()" [(ngModel)]="model.num1" ></app-model-child2>
<app-model-child3 (ngModelChange)="model.num2 = $event; KeyUpDetection()" [(ngModel)]="model.num2" ></app-model-child3>


<button (click)='submit()' >Submit</button>